.logements-container-infos {
   color: #ff6060;
   width: 91%;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
}
.logement-infos-container {
   display: grid;
   grid-template-columns: 3fr 1fr;
   width: 100%;
}
.logement-infos-container-1 {
   padding-top: 14px;
}
.logement-infos-title {
   font-size: 32px;
   margin: 0;
   padding-top: 6px;
}
.logement-infos-emplacement {
   margin-top: 2px;
}

.info-proprietaire-container {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex-wrap: wrap;
   height: 116px;
}
.info-proprietaire-para {
   width: min-content;
   text-align: end;
   margin-right: 8px;
}
.info-proprietaire-image {
   width: 64px;
   height: 57px;
   border-radius: 50%;
}

.logements-description {
   width: 100%;
   display: flex;
   column-gap: 12%;
   margin-bottom: 36px;
}
.logement-menuderoulant {
   width: 45%;
   margin: 0;
}

@media (max-width: 400px) {
   .logements-container-infos {
      width: 100%;
   }
   .logement-infos-container {
      grid-template-columns: 1fr;
   }
   .info-proprietaire-container {
      flex-direction: row;
      justify-content: initial;
      flex-wrap: initial;
      height: 60px;
   }
   .logement-infos-container-1 {
      padding-top: 0px;
   }
   .info-proprietaire-para {
      order: 2;
   }
   .info-proprietaire-image {
      order: 3;
   }

   .logements-description {
      flex-direction: column;
   }
}
