.menu-deroulant-container {
   width: 27%;
   height: auto;
   margin: 10px 30px 0px 30px;
   display: flex;
   flex-direction: column;
}
.menu-deroulant-text {
   height: 25px;
   padding: 0px 20px 0px 8px;
   border-radius: 6px;
   background-color: #ff6060;
   padding-right: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0px;
   color: white;
   font-size: 14px;
   position: relative;
}
.menu-deroulant-items {
   margin: 0;
   list-style-type: none;
   padding: 19px 0px 19px 15px;
   background-color: #80808014;
   font-size: 14px;
   color: #ff6060;
}
.menu-deroulant-items-none {
   display: none;
}
.svg-design {
   position: absolute;
   bottom: 2px;
   right: 17px;
   transform: rotate(180deg);
   width: 20px;
   fill: white;
}
.svg-design-active {
   width: 20px;
   fill: white;
}
