.navbar-design {
   display: flex;
   width: 96%;
   margin: auto;
}
.navbar-logo {
   width: 125px;
   margin: 22px 0px 10px 46px;
}
.navbar-ul {
   display: flex;
   list-style-type: none;
   margin: 41px 87px 10px auto;
   padding-inline-start: 0px;
   color: #ff6060;
}
.navbar-accueil {
   padding-right: 50px;
}
.a {
   text-decoration: none;
   color: #ff6060;
   font-size: 19px;
}
.a-actived {
   color: #ff6060;
   font-size: 19px;
}
