.location-container {
   display: flex;
   border-radius: 8px;
   margin: 30px auto 30px auto;
   padding: 25px 28px 25px 28px;
   flex-wrap: wrap;
   justify-content: center;
   gap: 40px 47px;
   background-color: #80808014;
   width: 87%;
   height: auto;
}
.location-cards {
   text-decoration: none;
   width: 28%;
   position: relative;
}
.location-image-card {
   width: 100%;
   height: 233px;
   border-radius: 6px;
}
.location-card-text {
   color: white;
   width: 230px;
   font-size: 15px;
   position: absolute;
   bottom: 5px;
   left: 25px;
   text-shadow: 0 0 white;
}
