.arrow-right {
   width: 32px;
   top: 45%;
   cursor: pointer;
   position: absolute;
   right: 30px;
}
.arrow-left {
   width: 32px;
   top: 35%;
   cursor: pointer;
   position: absolute;
   left: 30px;
}
@media (max-width: 400px) {
   .arrow-left {
      width: 23px;
      top: 129px;
      left: 8px;
   }
   .arrow-right {
      width: 23px;
      top: 129px;
      right: 8px;
   }
}
